@model Library.Models.Branch.BranchDetailModel
@{
    ViewBag.Title = Model.BranchName + "Branch";
}

<div class="container">
    <div class="header clearfix detailHeading">
        <h2 class="text-muted">Branch Information</h2>
    </div>

    <div class="jumbotron">
        <div class="row">
            <img src="@Model.ImageUrl" />
        </div>
        <div class="row branchInfo">
            <div class="col-md-8">
                <h2>@Model.BranchName</h2>
                <div class="branchContact">
                    <div id="branchAddress">Address: @Model.Address</div>
                    <div id="branchTel">Telephone: @Model.Telephone</div>
                    <div id="branchDescription"> @Model.Description</div>
                    <div id="branchHours">
                        <ul>
                            @foreach(var day in Model.HoursOpen)
                            {
                                <li>@day</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <table>
                    <tr>
                        <td class="itemLable">Date Opened</td>
                        <td class="itemValue"> @Model.BranchOpenedDate</td>
                    </tr>
                    <tr>
                        <td class="itemLable">Number of Assets:</td>
                        <td class="itemValue"> @Model.NumberOfAssets</td>
                    </tr>
                    <tr>
                        <td class="itemLable">Number of Patrons:</td>
                        <td class="itemValue"> @Model.NumberOfPatrons</td>
                    </tr>
                    @*<tr>
                        <td class="itemLable">Description:</td>
                        <td class="itemValue"> @Model.Description</td>
                    </tr>*@
                    <tr>
                        <td class="itemLable">Value of Assets:</td>
                        <td class="itemValue"> @Model.TotalAssetValue</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
